body {
  font-family: "Bellota Light";
  overflow-x: hidden;
}

/* Buttons */
.btn {
  font-size: 1em;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 50px;
  
}

.soon {
  padding-top: 50px;
  font-weight: bold;
}

.social-fb {
  width: 35px !important;
  display: inline !important;
  margin: 0 !important;
  padding: 0 0 5px 5px !important;
}

/* Lead */
.lead {
  background-color: #081F35;  
  background-image: url(img/earth-with-team.png);
  background-repeat: no-repeat;
  background-position: 50% 200%;
  color: white;
  padding: 150px 0 450px;
  min-height: 1100px;
}
.lead img {
  display: block;
  margin: 60px auto;
  width: 250px;
  
}
.lead .copy {
  font-size: 1.4em;
  text-align: center;
}
.lead .call-to-action {
  padding-top: 50px;
  text-align: center;
}
.lead .btn {
  color: #333;
}
.lead .btn.business {
  background-color: rgb(48, 180, 235);
}

.lead #about-call {
  margin-top: -150px;
}


.lead .btn.startup {
  background-color: rgb(255, 240, 107);
}

.lead .copy {
  max-width: 1024px;
  margin: 0 auto;
}



/* Contact */
.contact {
  background-color: #081F35;
  padding: 200px 0 150px;
  color: white;
}
.contact .form-heading h3 {
  text-align: center;  margin-top: 0;
}
.contact-form .form-labels {
  padding: 0;
}
.contact-form .form-labels li {
  list-style: none;
}
.contact-form.col-lg-12 {
  padding: 50px 0;
}
.contact-form textarea {
  padding: 20px;
  height: 200px;
}
.contact-form .form-input input, 
.contact-form select, 
.contact-form textarea {
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #807B7B;
  margin-bottom: 23px;
  background: #081B2E;
}
.contact-form label {
  padding: 6px;
  text-align: right;
}
.contact-form button.btn {
  margin-right: 0;
  margin-left: 0;
  background-color: #30B4EB;
}
.contact-form > .col-lg-6 {
  padding: 0;
}

/* Typography */
.heading {
  font-family: "Mikado Bold";
  text-align: center;
}
h2.heading {
  font-size: 4em;
}

/* Animations */
@-webkit-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@-moz-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@-o-keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}
@keyframes animatelogo {
  0%,100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px); 
    }
  50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px); 
    }
}

#logo {
    display: block;

    -webkit-animation: animatelogo 2s infinite; /* Safari 4+ */
      -moz-animation:    animatelogo 2s infinite; /* Fx 5+ */
      -o-animation:      animatelogo 2s infinite; /* Opera 12+ */
      animation:         animatelogo 2s infinite; /* IE 10+ */
}
