<!--SCRIPTS-->
<script src="/linker/js/slider.js"></script>
<!--SCRIPTS END-->

<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/style.css">
<!--STYLES END-->

<section class="lead">
    <section class="row">
        <section class="col-lg-12">
            <section id="about-call">
            <div id="logo">
                <img src="/images/logo.png" alt="Webnified">
            </div>
                <h1 class="heading">We are Webnified.</h1>
                <section class="copy">Using Rocket-Computer-Science-Machine-Learning-Whatsoever Innovative Technology, We help build your business, community, idea or startup grow!</section>

        <h1 class="heading soon">SOON! <a href="http://facebook.com/webnified"><img src="/images/fb.png" class="social-fb"></a></h2> 
                <!-- <section class="call-to-action col-lg-12"><button class="btn business">Let's Start!</button></section> -->
            </section>
        </section>
    </section>
</section>